.button-nav.scroll-up {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 2;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.icon-up {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .button-nav.scroll-up {
    bottom: 32px;
    right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .button-nav.scroll-up {
    bottom: 64px;
    right: 64px;
  }
}
.button-nav.scroll-up.show {
  opacity: 1;
  pointer-events: all;
}
