@import 'accordion-js/dist/accordion.min.css';

/* ======== Head section Book ======== */
.books-section {
  padding: 32px 0;
  width: 100%;
  margin: 0 auto;
  max-width: 375px;
  /* background-color: burlywood; */
  background: #fceee6;
}
@media screen and (min-width: 768px) {
  .books-section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .books-section {
    max-width: 1440px;
    min-height: 1400px;
  }
  .books-container {
    display: flex;
    gap: 24px;
  }
}

/* ========== Info section ========== */
.books-section-header {
  max-width: 100%;
  /* max-width: 342px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .books-section-header {
    /* max-width: 100%; */
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .books-section-header {
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    width: 308px;
  }
}
.books-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .books-categories {
    width: 100%;
  }
}
.books-subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #0b0500;
}
.books-per-page {
  font-size: 14px;
  color: #0b0500;
}

/* ========== Accordion ========== */
.accordion-wrapper {
  position: relative;
  display: block; /*inline-block;  или block, если нужно растянуть */
  /* width: 100%; */
}

/* Кнопка */
.books-acc-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(11, 5, 0, 0.05);
  padding: 12px 16px;
  width: 100%;
  font-size: 18px;
  border: none;
  cursor: pointer;
  height: 43px;
}
@media screen and (min-width: 768px) {
  .books-acc-btn {
    width: 249px;
  }
}

/* Иконка */
.books-acc-icon {
  transition: transform 0.3s ease;
}

.books-acc-icon.rotate {
  transform: rotate(180deg);
}

/* Контентная панель */
.content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background-color: rgb(230, 225, 218);
  /* background-color: rgba(11, 5, 0, 0.05); */
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .content {
    width: 308px;
  }
}
.js-category-item:hover,
.js-category-item:focus {
  background-color: rgba(11, 5, 0, 0.15);
}

.content.open {
  max-height: 296px; /* меняй под нужное значение */
  overflow-y: auto;
}

/* Список */
.categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-list li {
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1440px) {
  .books-acc-btn {
    display: none;
  }

  .content {
    max-height: none !important;
    overflow: visible !important;
  }
}

/* ========== Book card ========== */
@media screen and (min-width: 768px) {
  .books-card {
    width: 100%;
    /* max-width: 980px; */
  }
}
@media screen and (min-width: 1440px) {
  .books-card {
    /* width: 100%; */
    max-width: 980px;
  }
}
.books-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .books-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 40px;
  }
}
.book-card {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .book-card {
    flex-basis: calc((100% - 24px) / 2);
  }
  .book-description {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1440px) {
  .book-card {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}
.book-card-image {
  border-radius: 8px;
  width: 100%;
  height: 487px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .book-card-image {
    height: 483px;
  }
}
@media screen and (min-width: 1440px) {
  .book-card-image {
    height: 322px;
  }
}
.book-details {
  max-width: 343px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .book-details {
    max-width: 340px;
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .book-details {
    max-width: 227px;
  }
}
.book-info {
  flex: 1 1 auto; /* <-- ключевой момент */
  min-width: 0;
}
.book-title {
  font-weight: 600;
  text-transform: capitalize;
}
.book-title,
.book-autor {
  display: block;
  white-space: nowrap; /* запрет на перенос */
  overflow: hidden; /* обрезка лишнего */
  text-overflow: ellipsis; /* троеточие */
  width: 100%; /* ограничение ширины, если нужно */
}
/* .book-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.book-autor {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
} */
.book-autor {
  font-size: 14px;
}
.book-price {
  font-weight: 600;
  font-size: 20px;
}
.book-info-btn {
  line-height: 1.5;
  color: #0b0500;
  border: 1px solid #0b0500;
  border-radius: 4px;
  padding: 8px 20px;
  width: 100%;
  height: 40px;
}

.show-more-btn {
  line-height: 1.5;
  color: #fff;
  border: 1px solid #b84700;
  border-radius: 4px;
  padding: 12px 24px;
  display: block;
  max-width: 342px;
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background: #b84700;
}
@media screen and (min-width: 1440px) {
  .show-more-btn {
    max-width: 342px;
  }
}
.is-hidden {
  display: none;
}
