.feedbacks-section {
  padding: 64px 0;
}

.feedbacks-section .container {
  overflow: hidden;
}

.feedbacks-title {
  margin-bottom: 24px;
}

.feedbacks-subtitle {
  font-weight: 18;
  margin-bottom: 80px;
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .feedbacks-subtitle {
    width: auto;
  }
}

.swiper-nav {
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
}

.swiper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedbacks-pagination.swiper-pagination {
  position: static;
}

.feedbacks-slider .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  transform: none;
}

.feedbacks-slider .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: none;
  margin-left: 0;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}

.swiper-feedback-wrapper {
  margin-bottom: 32px;
}

.button-nav {
  border-radius: 0;
}

.feedback-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 16px;
  padding: 32px;
  min-height: 217px;
  overflow: hidden;
}

.feedback-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(230, 225, 218, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.feedback-card.gradient-overlay::before {
  opacity: 1;
}

.feedback-text-wrapper {
  position: relative;
}

.feedback-text {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 1.5em;
  max-height: calc(1.5em * 4);
  min-height: calc(1.5em * 4);
}

.feedback-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  font-size: 18px;
  overflow-y: auto;
}

.feedback-overlay .overlay-text {
  position: relative;
  background: #fceee6;
  word-break: break-word;
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
  border-bottom: 1px solid rgba(11, 5, 0, 0.15);
  padding: 32px;
  border-radius: 16px;
}

.feedback-text .text-content {
  display: block;
}

@media only screen and (min-width: 1440px) {
  .feedback-text {
    -webkit-line-clamp: 3;
    max-height: calc(1.5em * 3);
    min-height: calc(1.5em * 3);
  }
}

blockquote {
  font-size: 18px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 24px;
}

.feedback-author-wrapper {
  position: relative;
  display: flex;
  z-index: -2;
}

.feedback-author-wrapper img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}

.author-name {
  font-weight: 600;
  font-size: 16px;
}

.author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-nav--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.feedback-meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.icon-verified {
  width: 16px;
  height: 16px;
}

.badge--silver .icon-verified {
  fill: #c0c0c0;
}

.badge--gold .icon-verified {
  fill: #ffd700;
}

.icon-verified {
  stroke: #00000033;
}

.badge--unverified {
  color: transparent;
}

.feedback-overlay::-webkit-scrollbar {
  width: 8px;
}

.feedback-overlay::-webkit-scrollbar-track {
  background-color: transparent;
}

.feedback-overlay::-webkit-scrollbar-thumb {
  background-color: #b84700;
  border-radius: 4px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  transition: background-color 0.3s ease;
}

.feedback-overlay::-webkit-scrollbar-thumb:hover {
  background-color: #0b0500;
}

.feedback-overlay {
  scrollbar-width: thin;
  scrollbar-color: #b84700 transparent;
}
