<div class="modal-cart-backdrop modal-backdrop">
  <div class="modal-cart modal-base">
    <button class="modal-cart-close" aria-label="Close cart">&times;</button>
    <h2 class="modal-cart-title">Корзина</h2>
    <ul class="modal-cart-list"></ul>
    <div class="modal-cart-footer">
      <span class="modal-cart-total"
        >Всього: <span class="cart-total-sum">0 грн</span></span
      >
      <button class="modal-cart-order button-action">
        Оформити замовлення
      </button>
      <button class="modal-cart-clear button-secondary">Очистити</button>
    </div>
  </div>
</div>
