<div id="modalContacts" class="modal-backdrop-form is-open">
  <div class="modal-form">
    <button class="modal-form-close" type="button" aria-label="Close form">
      <svg class="form-close-svg" width="32" height="32">
        <use xlink:href="#close"></use>
      </svg>
    </button>

    <h2 class="modal-form-title">Register</h2>
    <p class="modal-form-subscription">
      Cozy Book Club — “The Midnight Library”
    </p>

    <form class="form-box">
      <ul class="form-list">
        <li class="form-list-item">
          <label class="form-item-label" for="name"
            >Name*
            <input
              class="form-item-input"
              id="name"
              name="user_name"
              type="text"
              placeholder="Ann"
              minlength="3"
              maxlength="64"
              required
            />
            <span class="form-input-error color-error"
              >Мінімум три символи</span
            >
          </label>
        </li>
        <li class="form-list-item">
          <label class="form-item-label" for="email"
            >Email*
            <input
              class="form-item-input"
              id="email"
              name="user_email"
              type="email"
              placeholder="hello@booksy.com"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              required
            />
            <span class="form-input-error color-error"
              >Неправильно введений емейл</span
            >
          </label>
        </li>
        <li class="fprm-list-item">
          <label class="form-item-label" for="message"
            >Message
            <textarea
              class="form-item-area"
              name="user_message"
              id="message"
              placeholder="Type your message..."
              minlength="10"
              maxlength="500"
              required
            ></textarea>
            <span class="form-area-error color-error-area"
              >Мінімум десять символів</span
            >
          </label>
        </li>
      </ul>
      <button class="form-btn-submit" type="submit">Register</button>
    </form>
  </div>
</div>
