<div id="modalBooks" class="modal-books-backdrop">
  <div class="modal-books">
    <button class="modal-books-button" type="button">
      <svg class="modal-books-button-icon" width="14" height="14">
        <use xlink:href="#close"></use>
      </svg>
    </button>
    <img src="#" alt="#" class="modal-books-img" width="309" height="467" />
    <h2 class="modal-books-title">Name of a book</h2>
    <p class="modal-books-text">Author's name</p>
    <p class="modal-books-price">15$</p>

    <div class="modal-books-quantity-selector">
      <button type="button" class="quantity-selector-decrease">-</button>
      <input
        type="number"
        class="quantity-selector-quantity-input"
        value="1"
        min="1"
      />
      <button type="button" class="quantity-selector-increase">+</button>
    </div>

    <button class="modal-books-add" type="button">Add to cart</button>
    <button class="modal-books-buy" type="submit">Buy now</button>

    <div class="modal-books-accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Details</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Some text</p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Shipping</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Some text</p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Returns</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">Some text</p>
        </div>
      </div>
    </div>
  </div>
</div>
