<div class="modal-cart-backdrop modal-backdrop">
  <div class="modal-cart modal-base modal-books">
    <div class="modal-scroll">
      <button class="modal-cart-close" aria-label="Close cart">&times;</button>
      <h2 class="modal-cart-title">CART</h2>
      <ul class="modal-cart-list"></ul>
      <div class="modal-cart-footer">
        <span class="modal-cart-total"
          >Total: <span class="cart-total-sum">0 $</span></span
        >
        <button class="modal-cart-order button-action">Order</button>
        <button class="modal-cart-clear button-secondary">Clear all</button>
      </div>
    </div>
  </div>
</div>
