<div id="modalContacts" class="modal-backdrop show-modal">
  <div class="modal-base modal-books">
    <div class="modal-scroll">
      <button class="modal-books-button" type="button">
        <svg class="modal-books-button-icon" width="32" height="32">
          <use xlink:href="#close"></use>
        </svg>
      </button>

      <div class="column-wrapper">
        <div class="book-photo-wrapper">
          <img
            src="https://placehold.co/309x466/png?text=No+image"
            alt="#"
            class="modal-books-img"
          />
        </div>
        <div class="right-column">
          <div class="modal-books-text-wrapper">
            <h2 class="modal-books-title">Name of a book</h2>
            <p class="modal-books-text">Author's name</p>
            <p class="modal-books-price">15$</p>
          </div>

          <div class="modal-books-quantity-selector">
            <button
              type="button"
              class="quantity-selector-decrease button-secondary"
            >
              -
            </button>
            <input
              type="tel"
              value="1"
              name="modal-input-quantity"
              class="quantity-selector-quantity-input"
            />
            <button
              type="button"
              class="quantity-selector-increase button-secondary"
            >
              +
            </button>
          </div>

          <div class="modal-books-btn-wrapper">
            <button class="modal-books-add button-action" type="button">
              Add to cart
            </button>
            <button class="modal-books-buy button-secondary" type="submit">
              Buy now
            </button>
          </div>

          <div class="modal-books-accordion-container">
            <div class="ac">
              <h3 class="ac-header">
                <button type="button" class="ac-trigger">Details</button>
              </h3>
              <div class="ac-panel">
                <p class="ac-text">Some text</p>
              </div>
            </div>

            <div class="ac">
              <h3 class="ac-header">
                <button type="button" class="ac-trigger">Shipping</button>
              </h3>
              <div class="ac-panel">
                <p class="ac-text">Some text</p>
              </div>
            </div>

            <div class="ac">
              <h3 class="ac-header">
                <button type="button" class="ac-trigger">Returns</button>
              </h3>
              <div class="ac-panel">
                <p class="ac-text">lorem100</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
