<div id="modalBooks" class="modal-backdrop modal-books-backdrop">
  <div class="modal-base modal-books">
    <div class="modal-scroll">
      <button class="modal-books-button" type="button">
        <svg class="modal-books-button-icon" width="32" height="32">
          <use xlink:href="#close"></use>
        </svg>
      </button>

      <div class="column-wrapper">
        <div class="modal-book-photo-wrapper">
          <img
            src="https://placehold.co/309x466/png?text=No+image"
            alt="#"
            class="modal-books-img"
          />
        </div>
        <div class="right-column">
          <div class="modal-books-text-wrapper">
            <h2 class="modal-books-title">Name of a book</h2>
            <p class="modal-books-text">Author's name</p>
            <p class="modal-books-price">15$</p>
          </div>

          <div class="modal-books-quantity-selector">
            <button
              type="button"
              class="quantity-selector-decrease button-secondary"
            >
              -
            </button>
            <input
              type="tel"
              value="1"
              name="modal-input-quantity"
              class="quantity-selector-quantity-input"
            />
            <button
              type="button"
              class="quantity-selector-increase button-secondary"
            >
              +
            </button>
          </div>

          <div class="modal-books-btn-wrapper">
            <button
              class="modal-books-add button-action"
              data-action="add-to-cart"
              type="button"
            >
              Add to cart
            </button>
            <button
              class="modal-books-buy button-secondary"
              data-action="buy-now"
              type="submit"
            >
              Buy now
            </button>
          </div>

          <ul class="modal-books-accordion-container">
            <li class="ac">
              <h3 class="ac-header">
                <button type="button" class="ac-trigger">
                  Details
                  <svg class="chevron-down-icon">
                    <use xlink:href="#chevron-down"></use>
                  </svg>
                </button>
              </h3>
              <div class="ac-panel">
                <p class="ac-text js-ac-text-details">Some text</p>
              </div>
            </li>

            <li class="ac">
              <h3 class="ac-header">
                <button type="button" class="ac-trigger">
                  Shipping
                  <svg class="chevron-down-icon">
                    <use xlink:href="#chevron-down"></use>
                  </svg>
                </button>
              </h3>
              <div class="ac-panel">
                <p class="ac-text js-ac-text-shipping">
                  We ship across the United States within 2-5 business days. All
                  orders are processed through USPS or a reliable courier
                  service. Enjoy free standard shipping on orders over $50.
                </p>
              </div>
            </li>

            <li class="ac">
              <h3 class="ac-header">
                <button type="button" class="ac-trigger">
                  Returns
                  <svg class="chevron-down-icon">
                    <use xlink:href="#chevron-down"></use>
                  </svg>
                </button>
              </h3>
              <div class="ac-panel">
                <p class="ac-text js-ac-text-returns">
                  You can return an item within 14 days of receiving your order,
                  provided it hasn't been used and is in its original condition.
                  To start a return, please contact our support team — we'll
                  guide you through the process quickly and hassle-free.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
