<section id="books" class="books-section">
  <div class="container books-container">
    <div class="books-section-header">
      <div class="books-categories">
        <h2 class="books-title visually-hidden">Trending books</h2>
        <p class="books-subtitle">Books</p>
        <p class="books-per-page js-books-per-page"></p>
      </div>
      <div class="accordion-wrapper js-accordion-container">
        <button class="books-acc-btn js-accordion-btn">
          Categories
          <svg class="books-acc-icon" width="24" height="24">
            <use xlink:href="#chevron-down"></use>
          </svg>
        </button>
        <div class="content js-accordion-content">
          <ul class="categories-list js-categories-list">
            <li class="category-item js-category-item">All categories</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="books-card">
      <ul class="books-list js-books-list"></ul>
      <button class="show-more-btn js-show-more-btn" type="button">
        Show More
      </button>
    </div>
  </div>
</section>
