<section id="books" class="books-section">
  <div class="container books-container">
    <div class="books-categories">
      <h2 class="books-title visually-hidden">Trending books</h2>
      <p class="books-subtitle">Books</p>
      <p class="number-of-books">Showing 24 of 100</p>
    </div>
    <div class="books-categories-accordion">
      <!-- <div class="category-btn"> -->
      <button class="books-accordion-btn" type="button">
        Categories
        <svg class="icon">
          <use xlink:href="#chevron-down"></use>
        </svg>
      </button>
      <!-- </div> -->
      <div class="accordion-content">
        <ul class="book-list">
          <li class="categories-item">All categories</li>
          <li class="categories-item">Lorem ipsum dolor sit amet.</li>
          <li class="categories-item">Lorem, ipsum.</li>
          <li class="categories-item">Lorem ipsum dolor sit.</li>
          <li class="categories-item">
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </li>
          <li class="categories-item">
            Lorem ipsum dolor sit amet consectetur.
          </li>
          <li class="categories-item">Lorem ipsum dolor sit amet.</li>
          <li class="categories-item">Lorem ipsum dolor sit.</li>
          <!-- добавь ещё, чтобы появилась прокрутка -->
        </ul>
      </div>
    </div>
    <ul class="books-list">
      <li class="book-card">
        <img
          src="https://storage.googleapis.com/du-prd/books/images/9780670785933.jpg"
          alt="THE BODY KEEPS THE SCORE"
          class="book-card-image"
        />
        <div class="book-details">
          <div class="book-info">
            <h3 class="book-title">THE BODY KEEPS THE SCORE</h3>
            <p class="book-autor">Bessel van der Kolk</p>
          </div>
          <p class="book-price">$0.00</p>
        </div>
        <button class="book-info-btn">Learn More</button>
      </li>
    </ul>
    <button class="show-more-btn" type="button">Show More</button>
  </div>
</section>
