<section
  id="feedbacks"
  class="feedbacks-section"
  aria-labelledby="feedbacks-title"
>
  <div class="container">
    <h2
      id="feedbacks-title"
      class="feedbacks-title location-hidden-side location-show-side"
    >
      Customer Feedbacks
    </h2>
    <p class="feedbacks-subtitle location-hidden-side location-show-side">
      See what our readers are saying about us!
    </p>
    <div class="feedbacks-slider swiper">
      <ul
        class="swiper-wrapper swiper-feedback-wrapper"
        role="list"
        aria-live="polite"
      ></ul>
      <div class="swiper-controls feedbacks-swiper-controls">
        <div class="swiper-pagination feedbacks-pagination"></div>
        <div class="swiper-nav feedbacks-swiper-nav">
          <button
            class="button-nav prev"
            aria-label="Previous feedback"
            disabled
          >
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
              <use xlink:href="#left-arrow-alt"></use>
            </svg>
          </button>
          <button class="button-nav next" aria-label="Next feedback">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
              <use xlink:href="#right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
