<section id="feedbacks" aria-labelledby="feedbacks-title">
  <div class="container">
    <h2 id="feedbacks-title" class="feedbacks-title">Customer Feedbacks</h2>
    <p class="feedbacks-subtitle">See what our readers are saying about us!</p>
    <div class="feedbacks-slider swiper">
      <ul class="swiper-wrapper" role="list" aria-live="polite"></ul>
      <div class="swiper-controls">
        <div class="swiper-pagination"></div>
        <div class="swiper-nav">
          <button
            class="button-nav prev"
            aria-label="Previous feedback"
            disabled
          >
            <svg class="icon">
              <use xlink:href="#left-arrow-alt"></use>
            </svg>
          </button>
          <button class="button-nav next" aria-label="Next feedback">
            <svg class="icon">
              <use xlink:href="#right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
