<footer id="footer" class="footer">
  <div class="container">
    <ul class="footer-nav">
      <li class="footer-nav-item">
        <a href="/">
          <svg class="footer-logo">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-nav-item">
        <a href="#header">Home</a>
      </li>
      <li class="footer-nav-item">
        <a href="#books">Books</a>
      </li>
      <li class="footer-nav-item">
        <a href="#feedbacks">Feedback</a>
      </li>
      <li class="footer-nav-item">
        <a href="#location">Location</a>
      </li>
    </ul>
    <form class="footer-join-form">
      <input
        class="footer-email"
        name="footer-email"
        type="email"
        placeholder="Enter your email"
      />
      <button type="submit" class="button-secondary">Sign&nbsp;Up</button>
    </form>
    <div id="footer-form-validation" class="footer-form-validation">
      * Required field
    </div>
    <hr class="footer-divider" />
    <p class="footer-copyright">
      © <span id="copy-year">2025</span> Booksy. All rights reserved.
    </p>
  </div>
</footer>
