<footer id="footer" class="footer">
  <div class="container">
    <ul class="footer-nav location-hidden-side">
      <li class="footer-nav-item">
        <a href="/development-hell-02/">
          <svg class="footer-logo">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-nav-item">
        <a href="#header">Home</a>
      </li>
      <li class="footer-nav-item">
        <a href="#books">Books</a>
      </li>
      <li class="footer-nav-item">
        <a href="#feedbacks">Feedback</a>
      </li>
      <li class="footer-nav-item">
        <a href="#location">Location</a>
      </li>
    </ul>
    <form class="footer-join-form" novalidate>
      <div class="footer-in">
        <input class="footer-email" name="footer-email" type="email" placeholder="Enter your email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" />
        <button type="submit" class="button-secondary">Sign&nbsp;Up</button>
      </div>
      <div id="footer-form-validation" class="footer-form-validation">
        * Required field
      </div>
    </form>
    <hr class="footer-divider" />
    <p class="footer-copyright">
      © <span id="copy-year">2025</span> Booksy. All rights reserved.
    </p>
  </div>
</footer>