<header class="header" id="header">
  <div class="container header-container">
    <nav class="page-nav">
      <a href="/">
        <svg class="icon-logo" width="80" height="40">
          <use xlink:href="#logo"></use>
        </svg>
      </a>

      <ul class="page-menu">
        <li class="page-menu-item">
          <a class="page-menu-link" href="#header">Home</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#books">Books</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#feedbacks">Feedbacks</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#events">Events</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-open-menu-btn" type="button">
      <svg class="mobile-open-menu-btn-icon" width="24" height="24">
        <use xlink:href="#menu-alt-right"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-logo-close-btn-container">
      <a href="/">
        <svg class="icon-logo" width="84" height="36">
          <use xlink:href="#logo"></use>
        </svg>
      </a>
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="mobile-page-menu">
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#header">Home</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#books">Books</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#feedbacks">Feedbacks</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#events">Events</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
