<header id="header" class="header container">
  <div>header</div>
  <h1>h1 test</h1>
  <h2>h2 test</h2>
  <h3>h2 test</h3>
  <b>bold</b>
  <span style="font-weight: 500">bold 500</span>
  <span>normal</span>
  <button class="button-action">button-action</button>
  <button class="button-secondary">button-secondary</button>
  <br />

  <button class="button-action" disabled>button-action disabled</button>
  <button class="button-secondary" disabled>button-secondary disabled</button>

  <br />

  <button class="button-nav">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
      <path
        fill="currentColor"
        d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707 1.414-1.414Z"
      />
    </svg>
  </button>
  <button class="button-nav" disabled>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
      <path
        fill="currentColor"
        d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707 1.414-1.414Z"
      />
    </svg>
  </button>
  <br />

  <input type="text" placeholder="Input text" />
  <br />
  <input type="text" class="error" />
  <div class="color-error">error text</div>
  <textarea name="" id="" placeholder="Textarea text"></textarea>
  <br />
  <textarea name="" id="" class="error" placeholder="Textarea text"></textarea>
  <div class="color-error">error-text</div>
</header>
