<section id="hero" class="hero container">
  <div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <p class="hero-slide-description">Get 10% off your first order</p>
        <a class="hero-btn button-action" href="#books">Shop now!</a>

        <picture class="hero-slide-picture">
          <source
            srcset="
              ./images/hero/desk_banner1@1x.jpg 1x,
              ./images/hero/desk_banner1@2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./images/hero/tabl_banner1@1x.jpg 1x,
              ./images/hero/tabl_banner1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/mobile_banner1@1x.jpg 1x,
              ./images/hero/mobile_banner1@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img
            class="slide-img"
            src="./images/hero/mobile_banner1@1x.jpg"
            alt="10% discount"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="swiper-slide">
        <p class="hero-slide-description">Save 15% on some books</p>
        <a class="hero-btn button-action" href="#books">Shop now!</a>
        <picture class="overlayed-element">
          <source
            srcset="
              ./images/hero/desk_banner2@1x.jpg 1x,
              ./images/hero/desk_banner2@2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./images/hero/tabl_banner2@1x.jpg 1x,
              ./images/hero/tabl_banner2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/mobile_banner2@1x.jpg 1x,
              ./images/hero/mobile_banner2@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img
            class="slide-img"
            src="./images/hero/mobile_banner2@1x.jpg"
            alt="10% discount"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="swiper-slide">
        <p class="hero-slide-description">
          Summer Sale!<br />
          Up to -40% discounts
        </p>
        <a class="hero-btn button-action" href="#books">Shop now!</a>
        <picture>
          <source
            srcset="
              ./images/hero/desk_banner3@1x.jpg 1x,
              ./images/hero/desk_banner3@2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./images/hero/tabl_banner3@1x.jpg 1x,
              ./images/hero/tabl_banner3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/mobile_banner3@1x.jpg 1x,
              ./images/hero/mobile_banner3@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img
            class="slide-img"
            src="./images/hero/mobile_banner3@1x.jpg"
            alt="10% discount"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="swiper-slide">
        <p class="hero-slide-description">
          Last chance to buy our spring bestsellers
        </p>
        <a class="hero-btn button-action" href="#books">Shop now!</a>
        <picture>
          <source
            srcset="
              ./images/hero/desk_banner4@1x.jpg 1x,
              ./images/hero/desk_banner4@2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./images/hero/tabl_banner4@1x.jpg 1x,
              ./images/hero/tabl_banner4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/mobile_banner4@1x.jpg 1x,
              ./images/hero/mobile_banner4@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img
            class="slide-img"
            src="./images/hero/mobile_banner4@1x.jpg"
            alt="10% discount"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
  <div class="hero-title-wrapper">
    <div class="slide-button-wrapper">
      <button class="js-hero-slider-prev button-nav" type="button">
        <svg class="icon" width="24" height="24">
          <use xlink:href="#left-arrow-alt"></use>
        </svg>
      </button>
      <button class="js-hero-slider-forward button-nav" type="button">
        <svg class="icon" width="24" height="24">
          <use xlink:href="#right-arrow-alt"></use>
        </svg>
      </button>
    </div>
    <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
  </div>
  <button type="button" class="scroll-up button-nav">
    <svg width="24" height="24">
      <use xlink:href="#close"></use>
    </svg>
  </button>
</section>
