<section id="hero" class="hero container">
  <div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <p class="hero-slide-description">Get 10% off your first order</p>
        <button class="hero-btn button-action" type="button">Shop now!</button>
        <img src="../images/hero/desk banner1@1x.jpg" />
      </li>

      <li class="swiper-slide">
        <p class="hero-slide-description">Save 15% on some books</p>
        <button class="hero-btn button-action" type="button">Shop now!</button>
        <img src="../images/hero/desk banner2@x1.jpg" />
      </li>

      <li class="swiper-slide">
        <p class="hero-slide-description">Summer Sale! Up to -40% discounts</p>
        <button class="hero-btn button-action" type="button">Shop now!</button>
        <img src="../images/hero/desk banner3@x1.jpg" />
      </li>

      <li class="swiper-slide">
        <p class="hero-slide-description">
          Last chance to buy our spring bestsellers
        </p>
        <button class="hero-btn button-action" type="button">Shop now!</button>
        <img src="../images/hero/desk banner4@x1.jpg" />
      </li>
    </ul>
  </div>
  <div class="title-wrapper">
    <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
    <button class="hero-slider-forward button-nav" type="button">
      <svg class="icon">
        <use xlink:href="#left-arrow-alt"></use>
      </svg>
    </button>
    <button class="hero-slider-prev button-nav" type="button">
      <svg class="icon">
        <use xlink:href="#right-arrow-alt"></use>
      </svg>
    </button>
  </div>
</section>
