@import url('izitoast/dist/css/iziToast.min.css');

/* .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
} */

.modal-books {
  max-width: 343px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-books-button {
  display: block;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-books-img {
  margin-bottom: 32px;
  border-radius: 8px;
}

.modal-books-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-books-title {
  font-size: 40px;
}

.modal-books-text {
  font-size: 14px;
}

.modal-books-price {
  font-size: 24px;
}

.modal-books-quantity-selector {
  display: flex;
  gap: 8px;
}

.quantity-selector-decrease,
.quantity-selector-increase {
  width: 32px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-selector-quantity-input {
  border-radius: 8px;
  width: 42px;
  height: 40px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  background: rgba(11, 5, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}

.modal-books-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.ac {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(11, 5, 0, 0.15);
  
}

.ac:first-child {
  border-top: 1px solid rgba(11, 5, 0, 0.15);
}

.ac-trigger::before,
.ac-trigger::after {
  display: none;
}

.ac .ac-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}

.ac .ac-trigger:hover,
.ac .ac-trigger:focus {
  color: inherit;
}

.chevron-down-icon {
  height: 24px;
  width: 24px;
  transition: transform 0.3s ease;
}

.ac-trigger[aria-expanded="true"] .chevron-down-icon {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .modal-books {
    max-width: 704px;
  }

  .modal-books-rows-wrapper {
    display: flex;
  }

  .column-wrapper {
    display: flex;
    gap: 24px;
  }

  .right-column {
    /* фіксований розмір */
    width: 307px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-books {
    max-width: 1300px;
  }

  .right-column {
    /* фіксований розмір */
    width: 759px;
  }

  .modal-books-btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
  }

  .modal-books-add {
    padding: 12px 111px;
  }

  .modal-books-buy {
    padding: 12px 121px;
  }
}
