/* .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
} */

/* Прокрутка бек додати в JS*/
body.modal-open {
  overflow: hidden;
}

.modal-books-scroll {
  overflow-y: auto;
  max-height: calc(100vh - 64px);
  padding-right: 0;
}

.show-modal {
  opacity: 1;
  pointer-events: auto;
}

.modal-books {
  background-color: #fceee6;
  border-radius: 16px;
  max-width: 343px;
  padding: 16px;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.modal-books-button{
  display: block;
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 16px;
}

.modal-books-img{
  margin-bottom: 32px;
  width: 309px;
  height: 467px;
  border-radius: 8px;

  /* колір прибрати */
  background-color: #fff;
}

.modal-books-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-books-title{
  font-size: 40px;
  color: #0b0500;
} 
.modal-books-text{
  font-size: 14px;
}

.modal-books-price {
  font-size: 24px;
  color: #0b0500;
}

.modal-books-quantity-selector{
  display: flex;
  gap: 8px;
}

.quantity-selector-decrease,
.quantity-selector-increase {
  width: 32px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-selector-quantity-input{
  border-radius: 8px;
  width: 42px;
  height: 40px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  background: rgba(11, 5, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 16px;
}

.modal-books-btn-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  
  .modal-books{ 
    max-width: 704px;
    padding: 16px 16px 64px 32px;
  }

  .modal-books-rows-wrapper {
    display: flex;
  }

  .column-wrapper{
    display: flex;
    gap: 24px;
  }

  .right-column {
    /* фіксований розмір */
    width: 307px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-books {
    max-width: 1300px;
    padding: 16px 16px 64px 64px;
  }

  .right-column {
    /* фіксований розмір */
    width: 759px;
  }

  .modal-books-btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
  }

  .modal-books-add {
    padding: 12px 111px;
  }

  .modal-books-buy {
    padding: 12px 121px;
  }
}