.modal-cart-backdrop.show {
  opacity: 1;
  pointer-events: auto;
}
.modal-cart {
  position: relative;
}

.modal-cart-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
}
.modal-cart-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.modal-cart-list {
  width: 100%;
  margin-bottom: 16px;
}
.modal-cart-item:first-child {
  border-top: 1px solid #fff;
}
.modal-cart-item {
  border-bottom: 1px solid #fff;
}
.modal-cart-item > span {
  padding: 8px 8px 0;
}
.modal-cart-item > span:not(:first-child) {
  white-space: nowrap;
}
.modal-cart-item > span:last-child {
  text-align: right;
}
.modal-cart-item-title {
  font-weight: 500;
  flex: 1 1 auto;
}

.modal-cart-footer {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: sticky;
  bottom: 0;
  background-color: #fceee6;
}
.modal-cart-item-title {
  display: block;
}
.modal-cart-item > span:not(.modal-cart-item-title) {
  display: inline-flex;
  width: calc(33.3% - 8px);
}
@media screen and (min-width: 768px) {
  .modal-cart-item > span:not(.modal-cart-item-title) {
    display: table-cell;
    width: auto;
  }
  .modal-cart-item:first-child > span {
    border-top: 1px solid #fff;
  }
  .modal-cart-item > span {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid #fff;
  }
  .modal-cart-list {
    display: table;
  }
  .modal-cart-item {
    display: table-row;
  }
  .modal-cart-footer {
    flex-direction: row;
    align-items: center;
  }
}
.modal-cart-total {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  width: 100%;
}
.modal-cart-order,
.modal-cart-clear {
  width: 100%;
}

.modal-cart-item-remove {
  color: red;
  padding: 5px;
  background: none;
}
